.content {
  vertical-align: middle;
  display: inline-block;
  margin-left: 26px;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  overflow-y: hidden;
}
.card {
  background-color: #cc5252;
  opacity: 0.93;
  border-radius: 20px;
  display: inline-block;
  height: 520px;
  margin: 26px;
  margin-right: 26px;
  margin-top: 15%;
}
.card .card-content {
  position: absolute;
  padding: 0;
  padding-bottom: 10px;
  bottom: 0;
}

.title {
  font-size: 20px;
  line-height: 1;
  color: #f7f5f5;
  font-weight: bold;
  text-transform: capitalize;
  white-space: initial;
}
.subTitle {
  font-size: 11.5px;
  color: #070707;
  font-weight: bold;
  text-transform: uppercase;
  white-space: initial;
}
.para {
  padding-left: 19px;
  padding-right: 19px;
  line-height: 1.583;
  text-align: left;
  font-size: 1rem;
  color: #3a3a3a;
  white-space: initial;
  margin-bottom: 19px;
  box-shadow: 0 0 black;
}
.icon {
  color: grey;
  padding-top: 0;
  padding-left: 19px;
  padding-bottom: 19px;
  box-shadow: none;
  background: none;
}
.icon:hover {
  background: none;
  box-shadow: none;
}
.activator {
  height: 160px;
  width: 100%;
}
img.circle {
  border-radius: 50% !important;
  height: 60px !important;
  width: 60px !important;
}
.row .col.s3 {
  margin-left: 0;
  padding: 0;
}
.header {
  margin: 19px;
}
.icon-btn {
  text-align: center;
}
.icon-btn button {
  background: none;
  border: 0;
}

.card-image {
  height: 150px;
}

img.circle-film {
  border-radius: 50% !important;
  height: 30px !important;
  width: 30px !important;
}

body {
  background-color: #d8d3d3;
  background-image: url("/Star-Wars-Wallpaper.jpeg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body,
html {
  height: 100%;
}

@media (max-width: 960px) {
  .card {
    float: left;
    clear: right;
  }
}
